.divContactame{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contactameTitle{
    margin-top: 10%;
    margin-bottom: 5%;
    width: 50%;
    font-family: proxima-nova, sans-serif;
    font-weight:500;
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    color: rgb(52, 51, 72);
    text-align: center;
}
  /* ///////////////////////////////// */

.form{
  margin-bottom: 5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.entradasCorreo1{
    width: 30%;
    height: 52px;
    background: transparent;
    border-radius: 6px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 2px;
    border-bottom-color: black;  
    padding: 5px;
    cursor: pointer;  
    font-size: 22px; 
}
.entradasCorreo1:focus{outline: none;}
.entradasCorreo2{
    width: 30%;
    height: 52px;
    background: transparent;
    border-radius: 6px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 2px;
    border-bottom-color: black;  
    padding: 5px;
    cursor: pointer;   
    font-size: 22px;
}
.entradasCorreo2:focus{outline: none;}
.entradasCorreo3{
    width: 80%;
    height: 134px;
    background: transparent;
    border-radius: 6px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 2px;
    border-bottom-color: black;  
    padding: 5px;
    cursor: pointer;  
    font-size: 22px; 
}
.entradasCorreo3:focus{outline: none;}
.enviar{
    margin-top: 3%;
    width: 20%;
    height: 51px;
    font-size: 19px;
    font-weight: 500;
    font-family: "europa", sans-serif;
    color: #1a6b91;
    letter-spacing: 1px;
    transition: 0.5s;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #1a6b91;
    padding: 13px;
    transition: 0.2s;
}
.enviar:hover{
    background-color: #1a6b91;
    color: white
}


@media screen and (max-width: 700px) {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    /* ///////////////////////////////// */
    .contactameTitle{
        font-size: 20px;
        width: 80%;
        margin-top: 20%;
        height: auto;
    }
    .entradasCorreo1{
      width: 80%;
      height: 52px;
    }
  .entradasCorreo2{
      width: 80%;
      height: 52px;
    }
  .entradasCorreo3{
      width: 80%;
      height: 134px;
    }
  .enviar{
      margin-top: 3%;
      width: 85%;
      height: 51px;
  }
}