.divContactame{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.contactameTitle{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #367785;
    text-align: center;
}
.iconosRedes{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
.icon1{ 
    left: 35%;
    top: 1823px;
    width: 60px;
    height: 60px;
}
.icon1:hover{
    margin:10px;
    background: #000000;
    border-radius: 6px;
    transition: all 0.5s;
}
.icon2{
    width: 60px;
    height: 60px;
    left: 42%;
    top: 1829px;
}
.icon2:hover{
    margin:10px;
    background: #000000;
    border-radius: 6px;
    transition: all 0.5s;
}
.icon3{
    width: 60px;
    height: 60px;
    left: 49%;
    top: 1826px;
}
.icon3:hover{
    margin:10px;
    background: #000000;
    border-radius: 6px;
    transition: all 0.5s;
}
.icon4{
    width: 60px;
    height: 60px;
    left: 56%;
    top: 1829px;
}
.icon4:hover{
    margin:10px;
    background: #000000;
    border-radius: 6px;
    transition: all 0.5s;
}
.icon5{  
    width: 60px;
    height: 60px;
    left: 62%;
    top: 1826px;
}
.icon5:hover{
    margin:10px;
    background: #000000;
    border-radius: 6px;
    transition: all 0.5s;
}
  /* ///////////////////////////////// */
.contactame2Title{
  width: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #367785;
}
.form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.entradasCorreo1{
    width: 35%;
    height: 52px;
    background: transparent;
    border-radius: 6px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 2px;
    border-bottom-color: black;  
    padding: 5px;
    cursor: pointer;  
    font-size: 22px; 
}
.entradasCorreo1:focus{outline: none;}
.entradasCorreo2{
    width: 35%;
    height: 52px;
    background: transparent;
    border-radius: 6px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 2px;
    border-bottom-color: black;  
    padding: 5px;
    cursor: pointer;   
    font-size: 22px;
}
.entradasCorreo2:focus{outline: none;}
.entradasCorreo3{
    width: 80%;
    height: 134px;
    background: transparent;
    border-radius: 6px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 2px;
    border-bottom-color: black;  
    padding: 5px;
    cursor: pointer;  
    font-size: 22px; 
}
.entradasCorreo3:focus{outline: none;}
.enviar{
    margin-top: 3%;
    width: 25%;
    height: 51px;
    background: #367785;
    border-radius: 6px;
    border-color:transparent;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}
.enviar:hover{
    background: #000000;
    border-radius: 6px;
    transition: all 0.5s;
}

@media screen and (max-width: 600px) {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    /* ///////////////////////////////// */
    .entradasCorreo1{
      width: 85%;
      height: 52px;
      background: transparent;
      border-radius: 6px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom-width: 2px;
      border-bottom-color: black;  
      padding: 5px;
      cursor: pointer;  
      font-size: 22px; 
  }
  .entradasCorreo2{
      width: 85%;
      height: 52px;
      background: transparent;
      border-radius: 6px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom-width: 2px;
      border-bottom-color: black;  
      padding: 5px;
      cursor: pointer;   
      font-size: 22px;
  }
  .entradasCorreo3{
      width: 85%;
      height: 134px;
      background: transparent;
      border-radius: 6px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom-width: 2px;
      border-bottom-color: black;  
      padding: 5px;
      cursor: pointer;  
      font-size: 22px; 
  }
  .enviar{
      margin-top: 3%;
      width: 95%;
      height: 51px;
      background: #367785;
      border-radius: 6px;
      border-color:transparent;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 30px;
      color: #FFFFFF;
  }
}