.misproyectos-container{
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
  padding-bottom: 10%;
  height: auto;
  /* background-color: rgba(33, 80, 199, 0.38) */
}
.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.card{
  position: relative;
  border: 1px solid #fff;
  border-radius: 8px;
  overflow: hidden;
  height: 450px;
  text-decoration: none;
  color: black;
  font-weight: 400;
  transition: 0.6s;
  color: rgb(34, 35, 36);
}
.card:hover{
  background-color: #367785;
  font-weight: 400;
  color: white;
  
}
.visitar{
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  display:flex ;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(10, 10, 10, 0.651) ;
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #367785;
  width: 200px;
  height: 40px;
  font-size: 18px;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}
.card:hover + .visitar{
  display: none;
}

.visitar:hover{
  background-color: #367785;
  border-color: #fff;
}
.resumenText{
  letter-spacing: 1px;
  font-weight: 600;
}
.card-top h1 {
  font-size: 1rem;
}
.card-top > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-bottom{
  padding: 3%;
}

.title-mis-proyectos{
  margin-top: 6%;
  margin-bottom: 1%;
  width: 100%;  
  text-align: center;
  font-family: proxima-nova, sans-serif;
  font-weight:600;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  color: rgb(52, 51, 72);
}

@media screen and (max-width: 900px) {
  .card-bottom p{
    font-size: 12px;
  }
  .card{
    height: 300px;
  }
}
@media screen and (max-width: 800px) and (min-width: 600px) {
  .visitar{
    width: 150px;
    height: 40px;
    font-size: 14px;
}
}
@media screen and (max-width: 480px) {
  .card{
    height: 300px;
  }
}
.slick-next{
  background-color: #367785;
  color: #367785;
  z-index: 100;
}
.displayNone{
  display: none;
}
.cabezaProyectos{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textProyectos{
  width: 80%;
  
}