.container-navBar {
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  min-height: 49px;
  max-height: 49px;
  position: fixed;
  background-color:#fff;
  z-index: 100;
}


.button-navBar {
  text-decoration: none;
  font-size: 14px;
  color:#1a6b91;
  background-color: transparent;
  font-weight: bold;
  font-size: 15px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: transparent;
  transition: all .6s ease;
  width: 100%;
  text-align: center;
}

.textButton-Navbar {
  font-size: 16px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #1a6b91;
  letter-spacing: 1px;
  transition: 0.5s;

}

.textButton-Navbar:hover {
  color: black;
}

.buttonOculto-navBar {
  text-decoration: none;
  color: #1a6b91;
  font-size: 20px;
  background-color: transparent;
  font-weight: bold;
  border: none;
  margin-left: 5%;
  padding-right: 1.5%;
  
}






@media screen and (min-width: 1099px) {
  .burger-navBar {
      display: none;
  }

}

@media screen and (max-width: 1099px) {
  .burger-navBar {
      padding: 10px;
      position: absolute;
      top: 1%;
      right: 10px;
  }

  .container-navBar {
      width: 100%;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-right: 0%;
      padding-left: 0%;
      display: flex;
      justify-content: right;
      align-items: center;
      min-height: 49px;
      max-height: 49px;
  }

  .container-navBar.active-navBar {
      width: 100%;
      padding-top: 65px;
      padding-bottom: 0px;
      padding-right: 0%;
      min-height: none;
      max-height: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.75) 0px 6px 6px -6px;
  }
  .buttonOculto-navBar {
      text-decoration: none;
      background-color: transparent;
      margin: 15px;
      color: #fff;
      font-weight: bold;
      font-size: 15px;
      border-top: none;
      border-right: none;
      border-left: none;
      border-color: white;
      position: absolute;
      top: -700px;
      left: -2000px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      color: black;
      font-size: 2rem;
      display: block;
      transition: all 6s ease-out;
  }

  .button-navBar {
      width: 100%;
      border: none;
      border-top-style: solid;
      border-top-width: 1px;
      border-color: rgb(222, 227, 236);
      margin-right: 0;
  }
}