.divPresentacion{
  padding-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;}
.imagen{
  margin-top:10%;
  width: 60%;
}
.title{
  font-size: 40px;
  color: rgb(52, 51, 72);
  /* color: #367785; */
  font-family: proxima-nova, sans-serif;
  font-weight:750;
  font-style: normal;
  padding: 0;
  margin-bottom: -20px ;
  
}
.subTitle{
  font-size: 22px;
  letter-spacing: 1px;
  color: rgb(68, 70, 73);
  font-weight: 600;
}
.hola{
  margin-top:7%;
  margin-left:5%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hola:hover{
  animation-play-state: paused;
}
@keyframes color {
  0%{ background-color: #367785; }
  100%{background-color: aquamarine;}
}
@keyframes aparecer {
  0%{ transform: scale(1); }
  20%{ transform: scale(1.3); }
  40%{ transform: scale(1.6); }
  60%{ transform: scale(1.9); }
  70%{ transform: scale(1); }
  80%{ transform: scale(.5); }
  90%{ transform: scale(.2); }
  100%{ transform: scale(1); }
}
@keyframes aparecer2 {
  0%{ transform:  translateX(100%); }
  100%{ transform:  translateX(0%); }
}

@media screen and (max-width: 600px) {
 /* ///////////////////////////////// */
    .title{
      width: 100%;
      font-size: 25px;}
    .subTitle{
      font-size: 16px;
      letter-spacing: 1px;
      color: rgb(68, 70, 73);
      font-weight: 600;
    }
    .divPresentacion{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    .imagen{
      width: 90%;
      margin:5%;
    }
    .hola{
      width: 90%;
      margin-top: 20%;
      margin-left:5%;
      margin-right:5%;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      color: #367785;
      z-index: 90;
    }
}