.divPresentacion{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.imagen{
  margin-top:10%;
  width: 60%;
}
.hola{
  margin-top:7%;
  margin-left:5%;
  width: 35%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;  
  line-height: 61px;
  color: #367785;
  z-index: 90;
  /* animation-name:aparecer2 ;
  animation-duration: 3s;
  animation-iteration-count: 1; */
  /* animation-iteration-count: 0; cantidad de veces a ejecutar de 0 a infinite */
  /* animation-direction:alternate-reverse; */
  /* animation-fill-mode: forwards; los estilos quedan como al final de la animacion */
  /* animation-fill-mode: backwards; aplica estilos iniciales a la nimacion */
  /* animation-fill-mode: both; forwards y backwards juntos */
  /* animation-delay: 2s;  denora para empezar la animacion*/
  /* animation-timing-function: ease;  aumenta o baja el tiempo de la animacion en las distintas etapas*/
  /* animation: alternate infinite aparecer2 1s 1s; */
  /* animation: alternate infinite aparecer2 1s 1s;*/
}
.hola:hover{
  animation-play-state: paused;
}
@keyframes color {
  0%{ background-color: #367785; }
  100%{background-color: aquamarine;}
}
@keyframes aparecer {
  0%{ transform: scale(1); }
  20%{ transform: scale(1.3); }
  40%{ transform: scale(1.6); }
  60%{ transform: scale(1.9); }
  70%{ transform: scale(1); }
  80%{ transform: scale(.5); }
  90%{ transform: scale(.2); }
  100%{ transform: scale(1); }
}
@keyframes aparecer2 {
  0%{ transform:  translateX(100%); }
  100%{ transform:  translateX(0%); }
}

@media screen and (max-width: 600px) {
 /* ///////////////////////////////// */
    .divPresentacion{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    .imagen{
      width: 90%;
      margin:5%;
    }
    .hola{
      width: 90%;
      margin-top: 20%;
      margin-left:5%;
      margin-right:5%;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 30px;  
      line-height: 61px;
      color: #367785;
      z-index: 90;
      text-align: center
    }
    .hola p{
      margin:0;
      padding:0;
    }
}