.divSobremi{
  display: flex;
  
}
.text1{
    /* position: absolute; */
    width: 25%;
    /* left: 8%; */
    /* top: 610px; */
    font-weight: 1000;
    margin: 5%;
}
.text2{
    /* position: absolute; */
    width: 25%;
    /* left: 38%;
    top: 610px; */
    font-weight: 1000;
    margin: 5%;
}
.text3{
    /* position: absolute; */
    width: 25%;
    /* left: 70%;
    top: 610px; */
    font-weight: 1000;
    margin: 5%;
}
.pregunta{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    color: #367785;
}
.respuesta{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}
.respuesta2{
    margin: 0;
}

@media screen and (max-width: 600px) {
    /* ///////////////////////////////// */
    .divSobremi{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .text1{
      width: 90%;
      /* margin: 5%; */
      text-align: center;
    }
    .text2{
      width: 90%;
      /* margin: 5%; */
      text-align: center;
    }
    .text3{
      width: 90%;
      /* margin: 5%; */
      text-align: center;
    }
    .pregunta{
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 22px;
      line-height: 27px;
      color: #367785;
    }
    .respuesta{
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 22px;
      line-height: 27px;
      color: #000000;
    }
    .respuesta2{
      margin: 0;
    }
}