/* ///////////////////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
/* ///////////////////////////////// */
.contenedor-general{
  background-image: url('./Vector5.png');
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
.footer{
  width: 100%;
  margin-top:3%;
  padding:1%;
  background: black;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #FFFFFF;
  text-align: center;
}
/* ///////////////////////////////// */
@media screen and (max-width: 600px) {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
  .imagenFondo{
    width: 100%;
    height: 2842px;
  }
  /* ///////////////////////////////// */
  .oculto{
    color: transparent;
    position: absolute;
    top: -40px;
  }
   /* ///////////////////////////////// */
  /* ///////////////////////////////// */
  /* ///////////////////////////////// */
} 