/* ///////////////////////////////// */
/* Width 1440px
Height  3014px */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.imagenFondo{
  width: 100%;
  height: 2300px;
}
.div-navBar{
  display: inline-flex;
  width: 100%;
  height: 10%;
  position: fixed;
  top: 0px;
  z-index: 9999;
  background-color: black;
  
}
.ancla{
  text-decoration: none;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
}
.ancla:hover{
  text-decoration: underline;
  color: #367785;
  transition: all 0.5s;
  top: 25%;
}
.sobreMi{
  width: 153px;
  height: 35px;
  left: 20%;
  top: 30%;
}

.misProyectos{
  width: 238px;
  height: 35px;
  left: 42%;
  top: 30%;
}
.contactame{
  width: 225px;
  height: 35px;
  left: 70%;
  top: 30%;
}
/* ///////////////////////// width: 975px;
  height: 555px;//////// */
.imagen{
  position: absolute;
  width: 60vw;
  height: 50vh;
  left: 30%;
  top: 150px;
}
.hola{
  position: absolute;
  width: 50vw;
  height: 330px;
  left: 5%;
  top: 10%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;  
  line-height: 61px;
  color: #367785;
  z-index: 100;
}
/* ///////////////////////////////// */
.sobreMiId{
  position: absolute;
  width: 25%;
  left: 8%;
  top: 500px;
}
.text1{
  position: absolute;
  width: 25%;
  left: 8%;
  top: 610px;
}
.text2{
  position: absolute;
  width: 25%;
  left: 38%;
  top: 610px;
}
.text3{
  position: absolute;
  width: 25%;
  left: 70%;
  top: 610px;
}
.pregunta{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  color: #367785;
}
.respuesta{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}
.respuesta2{
  margin: 0;
}
/* ///////////////////////////////// */
.misProyectosId{
  position: absolute;
  width: 223px;
  height: 57px;
  left: 43%;
  top: 1060px;
}
.misProyectosTitle{
  position: absolute;
  width: 223px;
  height: 57px;
  left: 44%;
  top: 1138px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: white;
}
.divProyecto{
  position: absolute;
  width: 90%;
  height: 451px;
  left: 5%;
  top: 1211px;
  background: #367785;
  border-radius: 6px;
}
.imagenProyecto{
  position: absolute;
  width: 45%;
  height: 350px;
  left: 27.5%;
  top: 1260px;
  border-radius: 6px;
  z-index: 100;
  box-shadow: 15px 7px 7px black;
}
.imagenProyectoAnt{
  position: absolute;
  width: 16%;
  height: 134px;
  left: 9%;
  top: 1236px;
  border-radius: 6px;
  box-shadow: 10px 5px 5px black;
}
.imagenProyectoSig{
  position: absolute;
  width: 16%;
  height: 134px;
  left: 75%;
  top: 1236px;
  border-radius: 6px;
  box-shadow: 10px 5px 5px black;
}
.imagenProyecto:hover{
  padding:20px;
  position: absolute;
  width: 59%;
  height: 401px;
  left: 19%;
  top: 1216px;
  background: #FFFFFF;
  transition: all 0.5s;
  box-shadow: none;
}
.buttonCarrusel1{
  position: absolute;
  left: 8%;
  top: 1390px;
  font-size: 60px; 
  background: black;
  color:#FFFFFF;
  border-radius: 8px;
}
.buttonCarrusel1:hover{
  background:#FFFFFF ;
  color:black;
  transition: all 0.5s;
}
.buttonCarrusel2{
  position: absolute;
  left: 88%;
  top: 1390px;
  font-size: 60px;
  background: black;
  color:#FFFFFF;
  border-radius: 8px;
}
.buttonCarrusel2:hover{
  background:#FFFFFF ;
  color:black;
  transition: all 0.5s;
}
.divResumeProyecto{
  position: absolute;
  width: 90%;
  height: 174px;
  left: 5%;
  top: 1490px;
  background: rgba(0, 0, 0, 0.79);
  border-radius: 6px;
  z-index: 101;
}
.divResumeProyecto p{
  margin: 40px;
  color:#D9D9D9;
  font-size: 20px;
}
/* ///////////////////////////////// */
.contactameId{
  position: absolute;
  left: 45%;
  top: 1660px;
}
.contactameTitle{
  position: absolute;
  left: 43%;
  top: 1735px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #367785;
}
.icon1{
  position: absolute;
  left: 35%;
  top: 1823px;
  width: 60px;
  height: 60px;
}
.icon1:hover{
  top: 1803px;
  left: 34.3%;
  margin:10px;
  background: #000000;
  border-radius: 6px;
  transition: all 0.5s;
}
.icon2{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 42%;
  top: 1829px;

}
.icon2:hover{
  top: 1809px;
  left: 41.3%;
  margin:10px;
  background: #000000;
  border-radius: 6px;
  transition: all 0.5s;
}
.icon3{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 49%;
  top: 1826px;
}
.icon3:hover{
  top: 1806px;
  left: 48.3%;
  margin:10px;
  background: #000000;
  border-radius: 6px;
  transition: all 0.5s;
}
.icon4{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 56%;
  top: 1829px;
}
.icon4:hover{
  top: 1809px;
  left: 55.3%;
  margin:10px;
  background: #000000;
  border-radius: 6px;
  transition: all 0.5s;
}
.icon5{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 62%;
  top: 1826px;
}
.icon5:hover{
  top: 1806px;
  left: 61.3%;
  margin:10px;
  background: #000000;
  border-radius: 6px;
  transition: all 0.5s;
}
/* ///////////////////////////////// */
.contactame2Title{
  position: absolute;
  height: 36px;
  left: 39%;
  top: 1930px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #367785;
}
.entradasCorreo1{
  position: absolute;
  width: 35%;
  height: 52px;
  left: 10%;
  top: 2003px;
  background: transparent;
  border-radius: 6px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 2px;
  border-bottom-color: black;  
  padding: 5px;
  cursor: pointer;  
  font-size: 22px; 
}
.entradasCorreo1:focus{outline: none;}
.entradasCorreo2{
  position: absolute;
  width: 35%;
  height: 52px;
  left: 55%;
  top: 2003px;
  background: transparent;
  border-radius: 6px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 2px;
  border-bottom-color: black;  
  padding: 5px;
  cursor: pointer;   
  font-size: 22px;
}
.entradasCorreo2:focus{outline: none;}
.entradasCorreo3{
  position: absolute;
  width: 80%;
  height: 134px;
  left: 10%;
  top: 2069px;
  background: transparent;
  border-radius: 6px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 2px;
  border-bottom-color: black;  
  padding: 5px;
  cursor: pointer;  
  font-size: 22px; 
}
.entradasCorreo3:focus{outline: none;}
.enviar{
  position: absolute;
  width: 133px;
  height: 51px;
  left: 45%;
  top: 2225px;
  background: #367785;
  border-radius: 6px;
  border-color:transparent;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
}
.enviar:hover{
  background: #000000;
  border-radius: 6px;
  transition: all 0.5s;
}
/* ///////////////////////////////// */
.footer{
  position: absolute;
  width: 100%;
  height: 66px;
  left: 0px;
  top: 2300px;
  background: black;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #FFFFFF;
  text-align: center;
}
/* ///////////////////////////////// */