/* ///////////////////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
/* ///////////////////////////////// */
/* .contenedor-general{
  background-image: url('./Vector5.png');
  background-position: 100% 100%;
  background-repeat: no-repeat;
} */
.footer{
  width: 100%;
  margin-top:3%;
  padding-top: 30px;
  padding-bottom: 20px;
  background: #367785;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #FFFFFF;
  text-align: center;
}
/* ///////////////////////////////// */
@media screen and (max-width: 600px) {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
  .imagenFondo{
    width: 100%;
    height: 2842px;
  }
  /* ///////////////////////////////// */
  .oculto{
    color: transparent;
    position: absolute;
    top: -40px;
  }
   /* ///////////////////////////////// */
  /* ///////////////////////////////// */
  /* ///////////////////////////////// */
} 
.footertext{
  color: #fff;
  font-weight: 500;
  letter-spacing: 01px;
}

.icon1:hover{
    background: #293ee0;
    border-radius: 6px;
    transition: all 0.5s;
}

.icon2:hover{
  background: black;
  border-radius: 6px;
  transition: all 0.5s;
}
:root {
--white: #fff;
--blue: #3051f1;
--purple: #c92bb7;
--red: #f73344;
--orange: #fa8e37;
--yellow: #fcdf8f;
--yellow_to: #fbd377;
}
.icon3:hover{
  background: linear-gradient(190deg,blue, transparent ), radial-gradient(red, transparent);
  background: radial-gradient(
    circle farthest-corner at 28% 100%,
    var(--yellow) 0%,
    var(--yellow_to) 10%,
    var(--orange) 22%,
    var(--red) 35%,
    transparent 65%
  ), linear-gradient(145deg, var(--blue) 10%, var(--purple) 70%);
  border-radius: 6px;
  transition: all 0.5s;
  
}

.icon4:hover{
  background: #3279af;
  transition: all 0.5s;
}

.icon5:hover{
  background: rgb(26, 245, 117);
  border-radius: 6px;
  transition: all 0.5s;
}